Repository ECN-Devices/claws: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, toml-fmt, cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

.pre-commit-config.yaml:

default_stages: [pre-commit, pre-push]
default_install_hook_types: [pre-commit, pre-push]

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '\.json$'
      - id: check-merge-conflict
        args: [--assume-in-merge]

  - repo: local
    hooks:
      - id: nix-fmt
        name: nix fmt
        entry: alejandra .
        language: system
        types: [nix]
      - id: toml-fmt
        name: toml fmt
        entry: taplo
        language: system
        types: [toml]
        args: ["format", "-"]
      - id: cargo-fmt
        name: cargo fmt
        language: system
        entry: cargo fmt
        types: [rust]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-nextest
        name: cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false

flake: default: remove darwin options
  default.nix
Due: nix-fmt

flake: shell: remove comments
  shell.nix
Due: nix-fmt

use pre-commit hooks
  .forgejo/workflows/claws.yaml
  icons/test.svg
  src/configuration/keypad_port_commands.rs
  src/style.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

assets: move fonts and icons to assets folder
  assets/fonts/Inter-Medium.ttf
  assets/fonts/JetBrainsMono-Bold.ttf
  assets/fonts/JetBrainsMono-Medium.ttf
  assets/icons/claws.ico
  assets/icons/profiles.svg
  assets/icons/settings.svg
  assets/icons/test.svg
  assets/icons/updater.svg
  src/application.rs
  src/configuration/mod.rs
  src/fonts.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

direnv: add direnv support
  .envrc
Due: none

flake: update 08.04.25
  .gitignore
  flake.lock
  flake.nix
  shell.nix
Due: nix-fmt

flake: add formatter settings
  flake.nix
Due: nix-fmt

flake: swap to nixos-unstable
  default.nix
  flake.lock
  flake.nix
Due: nix-fmt

ci: switch run-on to docker
  .forgejo/workflows/claws.yaml
Due: none

flake: default: add libPath
  default.nix
Due: nix-fmt

flake: move nix files to nix folder
  flake.nix
  nix/default.nix
  nix/shell.nix
Due: nix-fmt

flake: update pre-commit
  .pre-commit-config.yaml
  flake.lock
  flake.nix
Due: nix-fmt

flake: remove old devshell
  flake.nix
Due: nix-fmt

git: remove ci/cd
  .forgejo/workflows/claws.yaml
Due: none

git: correction of a typo
  README_ru.md
Due: none

cargo: enable thin lto
  Cargo.toml
Due: toml-fmt

flake: update 24.05.2025
  .pre-commit-config.yaml
  flake.lock
  flake.nix
Due: nix-fmt

flake: cargo: add mit license
  Cargo.toml
Due: toml-fmt

flake: use crane
  nix/default.nix
  nix/shell.nix
Due: nix-fmt

flake: use craneLib.path
  nix/default.nix
Due: nix-fmt

flake: update 20.06.2025
  .pre-commit-config.yaml
  flake.lock
Due: none

flake: update git url
  README.md
  README_ru.md
Due: none

flake: update 05.07.2025
  .pre-commit-config.yaml
  flake.lock
Due: none

flake: use craneLib override
  flake.nix
  nix/shell.nix
Due: nix-fmt

flake: add x86_64-pc-windows-msvc
  flake.nix
Due: nix-fmt

flake: add windows-gnu
  flake.nix
Due: nix-fmt

flake: update 11.07.2025
  .pre-commit-config.yaml
  flake.lock
Due: none

configuration: update command
  src/configuration/command.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

claws: refactoring
  Cargo.lock
  Cargo.toml
  flake.lock
  nix/default.nix
  rustfmt.toml
  src/application.rs
  src/assets.rs
  src/configuration/command.rs
  src/configuration/config.rs
  src/configuration/keypad_port_commands.rs
  src/configuration/mod.rs
  src/configuration/port.rs
  src/data/mod.rs
  src/fonts.rs
  src/hardware/communication_protocol.rs
  src/hardware/mod.rs
  src/main.rs
  src/screens/mod.rs
  src/style.rs
  src/tests/command.rs
  src/tests/config.rs
  src/tests/mod.rs
  src/ui/mod.rs
  src/ui/pages.rs
  src/utils/logger.rs
  src/utils/mod.rs
Due: nix-fmt, toml-fmt, cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

cargo: upate 16.07.2025; add serde;
  Cargo.lock
  Cargo.toml
Due: toml-fmt

ui: added saving the position and size of the application
  src/data/mod.rs
  src/hardware/mod.rs
  src/main.rs
  src/ui/mod.rs
  src/ui/pages.rs
  src/utils/logger.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

ui: save window settings by focus and unfocus app
  src/hardware/mod.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

cargo: add log features
  Cargo.toml
Due: toml-fmt

ui: remove legacy
  src/ui/mod.rs
  src/ui/pages.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

cargo: update 18.04.2025; add confy;
  Cargo.lock
  Cargo.toml
Due: toml-fmt

data: ConfigWindow: simplified saving of the configuration file; remove cargo hook
  .pre-commit-config.yaml
  flake.nix
  src/data/mod.rs
  src/main.rs
  src/ui/mod.rs
Due: nix-fmt, cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

ui: added a theme definition
  src/main.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

ui: add sidebar
  src/ui/mod.rs
  src/ui/pages.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

ui: message: add searchport
  src/ui/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-nextest

ui: subscription: added several subscriptions for the port
  src/ui/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-nextest
